# Local example:
# NUXT_PUBLIC_API_BASE_URL=http://localhost/extract_news/api/public/api

# Production example (choose one):
# NUXT_PUBLIC_API_BASE_URL=https://news.api.aeromorning.com/api
NUXT_PUBLIC_API_BASE_URL=https://api.aeromorning.com/api
